.vbxTabla {
    margin: 2rem;
}

.tablaBonita {
    border-radius: 12px;
    overflow: hidden;
}

.sapMListTblHeaderCell {
    background-color: #8ec5ff !important;
    text-align: center !important;
    font-weight: bold;
}

.normalCelda {
    text-align: left;
}

.empresaCelda {
    background-color: #ffe0b2;
    padding: 0.3rem;
    border-radius: 6px;
    font-weight: bold;
}

.inicioCelda {
    background-color: #c8f7c5;
    padding: 0.3rem;
    border-radius: 6px;
    font-weight: bold;
}

.finCelda {
    background-color: #ffcdd2;
    padding: 0.3rem;
    border-radius: 6px;
    font-weight: bold;
}

.btnDelete {
    margin-right: 0.3rem;
}

.btnEdit {
    margin-left: 0.3rem;
}

.sapMListTblRow {
    height: 60px;
}

.sapMBtnTransparent {
    font-weight: bold;
    font-size: 1.2rem;
}
